.header {
    border-bottom: solid 0.125rem #eee; /* 2px -> 0.125rem */
    width: 100%;
}

.header .topBar {
    padding: 0.5rem 0; /* 8px -> 0.5rem */
}

.container {
    padding-right: 1rem; /* 15px -> 1rem */
    padding-left: 1rem; /* 15px -> 1rem */
    margin-right: auto;
    margin-left: auto;
}

.loginBar {
    font-size: 0.8125rem; /* 13px -> 0.8125rem */
    display: flex;
    justify-content: flex-end; /* 'right' is not a valid value for justify-content */
}

.loginBar ul {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.loginBar li {
    display: inline;
    list-style: none;
}

.header .topbar-devider {
    top: 0.0625rem; /* 1px -> 0.0625rem */
    padding: 0;
    font-size: 0.5rem; /* 8px -> 0.5rem */
    position: relative;
    margin: 0 0.5625rem; /* 9px -> 0.5625rem */
    font-family: Tahoma;
    border-right: solid 0.0625rem #bbb; /* 1px -> 0.0625rem */
}

.header .brand {
    position: relative;
}

.navBar .container ul {
    border-bottom: none;
    margin-left: 18.75rem; /* 300px -> 18.75rem */
}

.navBar li {
    min-width: 9.375rem; /* 150px -> 9.375rem */
    text-align: center;
}

.navBar .ant-menu-title-content {
    /* color: #687074; */
    color: rgba(0, 0, 0, 0.88)!important;;
    font-weight: 600;
    font-size: 1.2rem!important; /* 14px -> 0.875rem */
}